openapi: 3.0.3
info:
  title: Pionex Bot Open API
  description: |
    Pionex cryptocurrency exchange Bot RESTful API - Bot Order List & Futures Grid Bot & Spot Grid Bot endpoints.

    # General Info

    ## Basic Info

    **Base URL:** `https://api.pionex.com`

    **Request Format:**
    - For private requests, the `timestamp` parameter (in milliseconds) must be included in the query string. The timestamp is valid within a range of +/-20 seconds.
    - Private requests require `PIONEX-KEY` (API Key) and `PIONEX-SIGNATURE` headers.
    - GET requests: additional parameters are passed in the query string.
    - POST/DELETE requests: parameters are passed in the request body as JSON (`application/json`).
    - Zero-valued number parameters are disregarded. 

    **Signature Construction:**
    - GET: `METHOD + PATH_URL + QUERY + TIMESTAMP`
    - POST/DELETE: `METHOD + PATH_URL + QUERY + TIMESTAMP + body`

    **Response Format:**

    All responses are JSON objects containing:
    - `result` (boolean): success indicator
    - `timestamp` (number): response timestamp in milliseconds
    - On success: `data` object with business information
    - On failure: `code` (string) and `message` (string) with error details

    Success example:
    ```json
    {"result": true, "data": {"buOrderId": "123456789"}, "timestamp": 1566691672311}
    ```

    Failure example:
    ```json
    {"result": false, "code": "PARAMETER_ERROR", "message": "Invalid parameter", "timestamp": 1566691672311}
    ```

    ## Rate Limits

    - Each endpoint has a weight value that determines how many requests it counts toward the limit.
    - IP-based and account-based limits operate independently.
    - All endpoints share the 10 per second limit based on IP.
    - Private endpoints share the 10 per second limit based on ACCOUNT.
    - Exceeding the weight limit results in HTTP 429 status code.

    ## Authentication

    [API Key Guide](https://www.pionex.com/docs/api-docs/references/api-key-guide)

    Private endpoints require HMAC SHA256 signature authentication.

    **Required headers:**
    - `PIONEX-KEY`: Your API Key
    - `PIONEX-SIGNATURE`: HMAC SHA256 hex signature

    **Required query parameter:**
    - `timestamp`: Current time in milliseconds (valid within +/-20 seconds)

    ### API Key Permissions

    Each API Key can be configured with **Bot reading**, **Bot trading**, and/or **Enable reading** permissions. Make sure your API Key has the appropriate permission enabled before calling the following endpoints.

    **Endpoints requiring `Bot reading` permission:**
    - `GET /api/v1/bot/orders` — Get bot order list
    - `GET /api/v1/bot/orders/futuresGrid/order` — Get futures grid order
    - `GET /api/v1/bot/orders/spotGrid/order` — Get spot grid order
    - `GET /api/v1/bot/orders/spotGrid/aiStrategy` — Get spot grid AI strategy
    - `POST /api/v1/bot/orders/futuresGrid/checkParams` — Check futures grid parameters
    - `POST /api/v1/bot/orders/futuresGrid/adjustParamsCheck` — Check futures grid adjust parameters (dry-run)
    - `POST /api/v1/bot/orders/futuresGrid/reduceCheck` — Check futures grid reduce (dry-run)
    - `POST /api/v1/bot/orders/spotGrid/checkParams` — Check spot grid parameters
    - `POST /api/v1/bot/orders/smartCopy/checkParams` — Check smart copy parameters
    - `GET /api/v1/bot/orders/smartCopy/order` — Get smart copy order
    - `GET /api/v1/bot/signal/userSignal` — List user custom signals
    - `GET /api/v1/bot/signal/userSignal/detail` — Get user custom signal detail

    **Endpoints requiring `Enable reading` permission:**
    - `POST /api/v1/bot/signal/listener` — Push custom trading signal

    **Endpoints requiring `Bot trading` permission:**
    - `POST /api/v1/bot/signal/userSignal` — Create user custom signal
    - `POST /api/v1/bot/signal/userSignal/edit` — Edit user custom signal
    - `DELETE /api/v1/bot/signal/userSignal/delete` — Delete user custom signal
    - `POST /api/v1/bot/orders/futuresGrid/create` — Create futures grid order
    - `POST /api/v1/bot/orders/futuresGrid/adjustParams` — Adjust futures grid (add investment / modify range)
    - `POST /api/v1/bot/orders/futuresGrid/reduce` — Reduce futures grid position
    - `POST /api/v1/bot/orders/futuresGrid/cancel` — Cancel futures grid order
    - `POST /api/v1/bot/orders/futuresGrid/pauseCheck` — Check futures grid pause (dry-run)
    - `POST /api/v1/bot/orders/futuresGrid/pause` — Pause futures grid order
    - `POST /api/v1/bot/orders/futuresGrid/resumeCheck` — Check futures grid resume (dry-run)
    - `POST /api/v1/bot/orders/futuresGrid/resume` — Resume futures grid order
    - `POST /api/v1/bot/orders/futuresGrid/addMarginCheck` — Check futures grid add margin (dry-run)
    - `POST /api/v1/bot/orders/futuresGrid/addMargin` — Add margin to futures grid order
    - `POST /api/v1/bot/orders/futuresGrid/reduceMarginCheck` — Check futures grid reduce margin (dry-run)
    - `POST /api/v1/bot/orders/futuresGrid/reduceMargin` — Reduce margin of futures grid order
    - `POST /api/v1/bot/orders/futuresGrid/updateTriggerProfitLoss` — Set / update / clear take-profit & stop-loss of a running futures grid order
    - `POST /api/v1/bot/orders/spotGrid/create` — Create spot grid order
    - `POST /api/v1/bot/orders/spotGrid/adjustParams` — Adjust spot grid parameters
    - `POST /api/v1/bot/orders/spotGrid/investIn` — Add investment to spot grid
    - `POST /api/v1/bot/orders/spotGrid/cancel` — Cancel spot grid order
    - `POST /api/v1/bot/orders/spotGrid/profit` — Extract profit from spot grid
    - `POST /api/v1/bot/orders/smartCopy/create` — Create smart copy order
    - `POST /api/v1/bot/orders/smartCopy/cancel` — Cancel smart copy order
  version: 1.0.0
  contact:
    name: Pionex API Support
    url: https://t.me/pionexapi

servers:
  - url: https://api.pionex.com
    description: Production

security: []

tags:
  - name: Bot Orders
    description: Bot order list query (private)
  - name: Futures Grid
    description: Futures Grid Bot management (private)
  - name: Spot Grid
    description: Spot Grid Bot management (private)
  - name: Smart Copy
    description: Smart Copy Bot management (private)
  - name: Signal
    description: Custom signal listener and user-defined signal management (private)
  - name: KOL
    description: KOL data endpoints (private)

paths:
  /api/v1/bot/orders:
    get:
      tags: [Bot Orders]
      summary: Get bot order list
      description: "Query bot order list with optional filters by order type, status, and trading pair. Supports pagination. Weight: 1."
      operationId: getBotOrders
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: status
          in: query
          description: |
            Order status filter:
            `running` - Running orders (default),
            `finished` - Closed/cancelled orders
          schema:
            type: string
            default: running
        - name: base
          in: query
          description: Base currency filter (e.g. BTC)
          schema:
            type: string
        - name: quote
          in: query
          description: Quote currency filter (e.g. USDT)
          schema:
            type: string
        - name: pageToken
          in: query
          description: Pagination token (from `nextPageToken` or `previousPageToken` in response)
          schema:
            type: string
        - name: buOrderTypes
          in: query
          description: |
            Order type filter. Can pass multiple values. If omitted, returns all types.
            Supported values: `futures_grid`, `spot_grid`, `smart_copy`.
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BotOrderListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/order:
    get:
      tags: [Futures Grid]
      summary: Get futures grid order
      description: "Query a futures grid bot order by ID. Weight: 1."
      operationId: getFuturesGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: buOrderId
          in: query
          required: true
          description: Bot order ID
          schema:
            type: string
        - name: lang
          in: query
          description: Language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/create:
    post:
      tags: [Futures Grid]
      summary: Create futures grid order
      description: "Create a new futures grid bot order. Weight: 1."
      operationId: createFuturesGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFuturesGridRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          buOrderData:
                            type: object
                            description: Bot order data
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/checkParams:
    post:
      tags: [Futures Grid]
      summary: Check futures grid parameters
      description: |
        Validate futures grid bot creation parameters and estimate investment values without creating an order. Weight: 1.

        Pass a positive `quote_investment` to receive full estimate fields.
        The current market price is fetched automatically — `open_price` is not required.

        **Extra Margin Modes** (controlled by `extra_margin`):

        | | `extra_margin=false` (Manual) | `extra_margin=true` (Auto-split) |
        |---|---|---|
        | `quote_investment` meaning | Trading capital only | Total input (auto-split into trading capital + extra margin) |
        | `extra_margin_amount` | User-specified extra margin, on top of `quote_investment` | Typically omitted; system auto-calculates |
        | `estimate_investment` | = `quote_investment` | < `quote_investment` (trading capital portion) |
        | `estimate_extra_margin` | = `extra_margin_amount` | Auto-calculated (= `quote_investment` − `estimate_investment`) |
        | `min/max_investment` | Range for trading capital (excl. extra margin) | Range for total input (incl. extra margin) |

        **FailedWithData**: For errors marked "Yes" below, the response includes a `data` field
        even when `result=false`, containing `min_investment`, `max_investment`, and `slippage`
        so the client can display the valid investment range.

        **Validation error messages** (returned in `message` when `result` is `false`):

        | Message | Cause | Includes data |
        |---|---|---|
        | `base should end with .PERP` | `base` must end with `.PERP`, e.g. `BTC.PERP` | No |
        | `invalid trend` | `trend` must be `long`, `short`, or `no_trend` | No |
        | `invalid grid_type` | `grid_type` must be `arithmetic` or `geometric` | No |
        | `bottom must greater than 0` | `bottom` must be a positive number | No |
        | `top must greater than bottom` | `top` must be strictly greater than `bottom` | No |
        | `top must less or equal than max:{maxPrice}` | `top` exceeds the symbol's maximum allowed price | No |
        | `top not match quote precision` | `top` has more decimal places than the symbol allows | No |
        | `bottom not match quote precision` | `bottom` has more decimal places than the symbol allows | No |
        | `row must greater than 1` | `row` must be >= 2 | No |
        | `row must less than 501` | `row` must be <= 500 | No |
        | `invalid leverage` | `leverage` is outside the symbol's allowed leverage range | No |
        | `extra_margin should greater than or equal 0` | `extra_margin_amount` must be >= 0 | No |
        | `invalid condition_direction` | `condition_direction` must be `""`, `"1"`, or `"-1"` | No |
        | `quote_investment not match spending precision: max {N} decimal places` | `quote_investment` exceeds the allowed decimal precision | Yes |
        | `extra_margin_amount not match spending precision: max {N} decimal places` | `extra_margin_amount` exceeds the allowed decimal precision | Yes |
        | `grid profit per volume less than 0` | Grid range too narrow or `row` too large — profit per grid is negative | Yes |
        | `less than min investment` | `quote_investment` is `"0"` or less than `min_investment` | Yes |
      operationId: checkFuturesGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckFuturesGridParamsRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridCheckParamsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/adjustParams:
    post:
      tags: [Futures Grid]
      summary: Adjust futures grid (add investment / modify range)
      description: "Add investment, modify grid range, or set trigger investment for a futures grid order. Weight: 1."
      operationId: adjustFuturesGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustFuturesGridRequest'
      responses:
        '200':
          description: Adjustment applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/reduce:
    post:
      tags: [Futures Grid]
      summary: Reduce futures grid position
      description: "Reduce position size of a futures grid order. Weight: 1."
      operationId: reduceFuturesGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReduceFuturesGridRequest'
      responses:
        '200':
          description: Reduction result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReduceFuturesGridResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/cancel:
    post:
      tags: [Futures Grid]
      summary: Cancel futures grid order
      description: "Close and cancel a futures grid bot order. Weight: 1."
      operationId: cancelFuturesGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelFuturesGridRequest'
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/adjustParamsCheck:
    post:
      tags: [Futures Grid]
      summary: Check futures grid adjust parameters (dry-run)
      description: |
        Validate adjust params / invest-in parameters and return estimated data without executing.
        Use this before calling adjustParams to preview the impact.
        Weight: 1.
      operationId: adjustFuturesGridParamsCheck
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustFuturesGridRequest'
      responses:
        '200':
          description: |
            Check result. On success: `result=true` with estimate data.
            On business validation failure: `result=false` with `BOT_INVALID_ARGUMENT` code, reason message, and partial estimate data.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AdjustParamsCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/reduceCheck:
    post:
      tags: [Futures Grid]
      summary: Check futures grid reduce (dry-run)
      description: |
        Validate reduce parameters and return estimated data without executing.
        Use this before calling reduce to preview the impact.
        Weight: 1.
      operationId: reduceFuturesGridCheck
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReduceFuturesGridRequest'
      responses:
        '200':
          description: |
            Check result. On success: `result=true` with estimate data.
            On business validation failure: `result=false` with `BOT_INVALID_ARGUMENT` code, reason message, and partial estimate data.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReduceCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/pauseCheck:
    post:
      tags: [Futures Grid]
      summary: Check futures grid pause (dry-run)
      description: |
        Validate whether a futures grid order can be paused (`immediate` or `conditional` mode)
        and return current plus post-trigger estimated liquidation prices without executing.
        Does not accept `openPrice`; the backend uses the live market price.
        `triggerPausePriceUp` / `triggerPausePriceDown` are independent — set either or both.
        Weight: 1.
      operationId: pauseFuturesGridCheck
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridPauseCheckRequest'
      responses:
        '200':
          description: |
            Check result. On success: `result=true` with estimate data.
            On business validation failure: `result=false` with `BOT_INVALID_ARGUMENT` code and reason message.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridPauseCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/pause:
    post:
      tags: [Futures Grid]
      summary: Pause futures grid order
      description: |
        Pause a running futures grid order. Runs the same validation as `pauseCheck`, then
        executes asynchronously. Once paused the grid stops auto-refilling orders while the
        position is retained; `immediate` mode takes effect at the live market price.
        Does not return a `status` field (async processing).
        Weight: 1.
      operationId: pauseFuturesGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridPauseRequest'
      responses:
        '200':
          description: Pause accepted (async).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridPauseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/resumeCheck:
    post:
      tags: [Futures Grid]
      summary: Check futures grid resume (dry-run)
      description: |
        Validate whether a paused futures grid order can be resumed and return the estimated
        liquidation prices after resuming, without executing. Order must be in `paused` state.
        Weight: 1.
      operationId: resumeFuturesGridCheck
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridResumeRequest'
      responses:
        '200':
          description: |
            Check result. On success: `result=true` with estimate data.
            On business validation failure: `result=false` with `BOT_INVALID_ARGUMENT` code and reason message.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridResumeCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/resume:
    post:
      tags: [Futures Grid]
      summary: Resume futures grid order
      description: |
        Resume a paused futures grid order. Runs the same validation as `resumeCheck`, then
        executes. After resuming the grid restarts auto-refilling and the liquidation price
        moves with the market.
        Weight: 1.
      operationId: resumeFuturesGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridResumeRequest'
      responses:
        '200':
          description: Resume accepted.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridResumeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/addMarginCheck:
    post:
      tags: [Futures Grid]
      summary: Check futures grid add margin (dry-run)
      description: |
        Validate whether the add-margin amount is valid and return the estimated liquidation
        prices before and after the change, without executing.
        Does not accept `openPrice`; the backend uses the live market price.
        Weight: 1.
      operationId: addMarginFuturesGridCheck
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridMarginCheckRequest'
      responses:
        '200':
          description: |
            Check result. On success: `result=true` with estimate data.
            On business validation failure: `result=false` with `BOT_INVALID_ARGUMENT` code and reason message.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridMarginCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/addMargin:
    post:
      tags: [Futures Grid]
      summary: Add margin to futures grid order
      description: |
        Transfer margin into a futures grid order. Runs the same validation as `addMarginCheck`,
        then executes asynchronously. Directly affects available balance and the order's
        liquidation price — a funds operation, call with care.
        Does not return a `status` field (async processing).
        Weight: 1.
      operationId: addMarginFuturesGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridMarginTransferRequest'
      responses:
        '200':
          description: Add margin accepted (async).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridMarginTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/reduceMarginCheck:
    post:
      tags: [Futures Grid]
      summary: Check futures grid reduce margin (dry-run)
      description: |
        Validate whether the reduce-margin amount is valid (subject to the `maxAmount` hard limit)
        and return the estimated liquidation prices before and after the change, without executing.
        Exceeding `maxAmount` returns `checkResult=false` with reason `EXCEEDS_MAX_AMOUNT`.
        Weight: 1.
      operationId: reduceMarginFuturesGridCheck
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridMarginCheckRequest'
      responses:
        '200':
          description: |
            Check result. On success: `result=true` with estimate data.
            On business validation failure: `result=false` with `BOT_INVALID_ARGUMENT` code and reason message.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridMarginCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/reduceMargin:
    post:
      tags: [Futures Grid]
      summary: Reduce margin of futures grid order
      description: |
        Transfer margin out of a futures grid order. Runs the same validation as
        `reduceMarginCheck` (including the `maxAmount` check), then executes asynchronously.
        Directly reduces the order's available margin and raises liquidation risk — a funds
        operation, call with care.
        Does not return a `status` field (async processing).
        Weight: 1.
      operationId: reduceMarginFuturesGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridMarginTransferRequest'
      responses:
        '200':
          description: Reduce margin accepted (async).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridMarginTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/updateTriggerProfitLoss:
    post:
      tags: [Futures Grid]
      summary: Set / update / clear take-profit & stop-loss
      description: |
        Set, update, or clear the take-profit and/or stop-loss of an **already running**
        futures grid order. Weight: 1.

        This does NOT create triggers for a not-yet-started order — use `create` (fields
        `lossStopType` / `profitStopType` etc.) for that. This endpoint mutates the
        take-profit / stop-loss of an existing order in place.

        **Request field naming**: unlike the other `futuresGrid` endpoints (which use
        camelCase), this endpoint takes **snake_case** field names, and the trigger
        settings are passed as a `list` of items — one item per trigger you want to set.
        A single call may contain a `stop_loss` item, a `stop_profit` item, or both.

        **`type`** — which trigger the item configures. Only two values are accepted
        (App-side legacy spellings such as `stop-loss` and the entry-trigger value
        `condition` are rejected here):

        | `type` | Meaning |
        |---|---|
        | `stop_loss` | Configure the stop-loss trigger |
        | `stop_profit` | Configure the take-profit trigger |

        **`stop_type`** — decides how `value` (and `limit_price`) is interpreted.
        **Required**; unlike the App, an empty value is NOT accepted (no implicit
        fallback to `price`):

        | `stop_type` | `value` means | `value` range | `limit_price` |
        |---|---|---|---|
        | `price` | Trigger price | must be `> 0` | ignored |
        | `price_limit` | Trigger price; order is placed as a **limit** order at `limit_price` when hit | must be `> 0` | required, `> 0` |
        | `profit_amount` | Profit/loss **amount** in the settlement currency | may be `0` or **negative** (a negative amount = a loss threshold) | ignored |
        | `profit_ratio` | Profit/loss **ratio** (e.g. `0.5` = +50%, `-0.2` = −20%) | may be `0` or **negative** | ignored |

        **Clearing a trigger**: pass `value` as an empty string `""` for that item to
        remove the previously set take-profit / stop-loss.

        **`value` validation**: when `value` is non-empty it must be a valid decimal.
        For `price` / `price_limit` it must be `> 0`; for `profit_amount` / `profit_ratio`
        `0` and negative values are allowed (a stop-loss expressed as a negative
        ratio/amount is meaningful).

        **Neutral grid (`no_trend`) upper stop-loss**: for a neutral grid, a stop-loss can
        additionally set an **upper** threshold above the grid range using
        `stop_high_price` (and `limit_high_price` when `stop_type=price_limit`). These two
        fields apply only to a `stop_loss` item on a neutral grid and only when
        `stop_type` is `price` or `price_limit`; they are ignored otherwise.

        **`*_sell_model`** — settlement currency for the position closed by the trigger.
        Optional; when empty the order's default is used:

        | Value | Meaning |
        |---|---|
        | `TO_QUOTE` | Settle to the quote currency |
        | `TO_USDT` | Settle to USDT |

        Use `loss_stop_sell_model` on a `stop_loss` item and `profit_stop_sell_model` on a
        `stop_profit` item.

        **Asynchronous write**: a successful response only means the request was accepted
        and forwarded. The take-profit / stop-loss is persisted onto the order record
        asynchronously — poll `GET /futuresGrid/order` and read `lossStop` / `profitStop`
        (and related fields) to confirm the update took effect.

        **Restrictions** (return `result=false` with the message shown):

        | Message | Cause |
        |---|---|
        | `trigger price list nil` | `list` is empty |
        | `invalid type: {v}, must be one of stop_loss/stop_profit` | `type` not in the allow-list |
        | `invalid stop_type: {v}, must be one of price/price_limit/profit_amount/profit_ratio` | `stop_type` missing or not in the allow-list |
        | `invalid amount: {v}` | `value` / `limit_price` / `limit_high_price` is not a valid decimal |
        | `invalid value: {v}, must be positive` | `value > 0` required for `price` / `price_limit` |
        | `invalid loss_stop_sell_model: {v}` | `loss_stop_sell_model` not `TO_QUOTE` / `TO_USDT` |
        | `invalid profit_stop_sell_model: {v}` | `profit_stop_sell_model` not `TO_QUOTE` / `TO_USDT` |
        | `order is disable change tp` | The order forbids changing take-profit / stop-loss |
        | `forbidden by invalid status:{s}, order_id:{id}` | Order is closing/unlocking/canceled |
        | `forbidden for future_grid_bonus order` | Bonus-funded orders cannot set a stop-loss |

        **Examples** — request bodies for common combinations:

        Set a stop-loss at a fixed price:
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_loss", "stop_type": "price", "value": "70000" }
          ]
        }
        ```

        Set a take-profit at a fixed price:
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_profit", "stop_type": "price", "value": "150000" }
          ]
        }
        ```

        Set both take-profit and stop-loss in one call:
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_loss",   "stop_type": "price", "value": "70000" },
            { "type": "stop_profit", "stop_type": "price", "value": "150000" }
          ]
        }
        ```

        Stop-loss by loss ratio (−20%) and take-profit by profit ratio (+50%):
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_loss",   "stop_type": "profit_ratio", "value": "-0.2" },
            { "type": "stop_profit", "stop_type": "profit_ratio", "value": "0.5" }
          ]
        }
        ```

        Take-profit by profit amount, settled to USDT:
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_profit", "stop_type": "profit_amount", "value": "500", "profit_stop_sell_model": "TO_USDT" }
          ]
        }
        ```

        Take-profit as a limit order (place a limit at 149000 when 150000 is hit),
        with a 30s trigger delay:
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_profit", "stop_type": "price_limit", "value": "150000", "limit_price": "149000", "stop_delay": 30 }
          ]
        }
        ```

        Neutral grid (`no_trend`) — lower and upper stop-loss prices:
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_loss", "stop_type": "price", "value": "70000", "stop_high_price": "160000" }
          ]
        }
        ```

        Clear a previously set stop-loss (empty `value`):
        ```json
        {
          "bu_order_id": "1234567890",
          "list": [
            { "type": "stop_loss", "stop_type": "price", "value": "" }
          ]
        }
        ```
      operationId: updateTriggerProfitLossFuturesGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGridUpdateTriggerProfitLossRequest'
      responses:
        '200':
          description: Trigger update accepted (persisted asynchronously).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridTriggerProfitLossResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # Spot Grid
  # -------------------------------------------------------------------------

  /api/v1/bot/orders/spotGrid/order:
    get:
      tags: [Spot Grid]
      summary: Get spot grid order
      description: "Query a spot grid bot order by ID. Weight: 1."
      operationId: getSpotGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: buOrderId
          in: query
          required: true
          description: Bot order ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/aiStrategy:
    get:
      tags: [Spot Grid]
      summary: Get spot grid AI strategy
      description: "Query AI-recommended grid strategy parameters for a trading pair. Weight: 1."
      operationId: getSpotGridAiStrategy
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: base
          in: query
          required: true
          description: Base currency (e.g. BTC)
          schema:
            type: string
        - name: quote
          in: query
          required: true
          description: Quote currency (e.g. USDT)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridAiStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/create:
    post:
      tags: [Spot Grid]
      summary: Create spot grid order
      description: "Create a new spot grid bot order. Weight: 1."
      operationId: createSpotGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpotGridRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/checkParams:
    post:
      tags: [Spot Grid]
      summary: Check spot grid parameters
      description: |
        Validate spot grid bot creation parameters and estimate investment values without creating an order. Weight: 1.

        Pass a positive `quote_total_investment` to receive full estimate fields.
        The current market price is fetched automatically — `open_price` is not required.

        **FailedWithData**: For errors marked "Yes" below, the response includes a `data` field
        even when `result=false`, containing `min_investment`, `max_investment`, and `slippage`
        so the client can display the valid investment range.

        **Validation error messages** (returned in `message` when `result` is `false`):

        | Message | Cause | Includes data |
        |---|---|---|
        | `number invalid: {value}` | `top` or `bottom` is not a valid numeric string | No |
        | `number int too long: {value}` | Integer part of `top` or `bottom` exceeds 15 digits | No |
        | `number decimal too long: {value}` | Decimal part of `top` or `bottom` exceeds 15 digits | No |
        | `invalid quote total investment` | `quote_total_investment` must be >= 0 | No |
        | `bottom must be less than top` | `bottom` must be strictly less than `top` | No |
        | `row must be between 2 and 1000` | `row` must be in the range [2, 1000] | No |
        | `invalid grid_type` | `grid_type` must be `arithmetic` or `geometric` | No |
        | `grid price duplicated: reduce row or widen range` | Grid range too narrow or `row` too large — adjacent grid prices are identical | Yes |
        | `quote_total_investment not match quote precision: max {N} decimal places` | `quote_total_investment` exceeds the allowed decimal precision | Yes |
        | `less than min investment` | `quote_total_investment` is `"0"` or less than `min_investment` | Yes |
      operationId: checkSpotGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSpotGridParamsRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridCheckParamsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/adjustParams:
    post:
      tags: [Spot Grid]
      summary: Adjust spot grid parameters
      description: "Modify grid range (top/bottom/row) or adjust investment for a running spot grid order. Weight: 1."
      operationId: adjustSpotGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustSpotGridParamsRequest'
      responses:
        '200':
          description: Adjustment applied successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          action_id:
                            type: string
                            description: Adjustment action ID
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/investIn:
    post:
      tags: [Spot Grid]
      summary: Add investment to spot grid
      description: "Add additional investment to a running spot grid order. Weight: 1."
      operationId: investInSpotGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestInSpotGridRequest'
      responses:
        '200':
          description: Investment added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          action_id:
                            type: string
                            description: Investment action ID
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/cancel:
    post:
      tags: [Spot Grid]
      summary: Cancel spot grid order
      description: "Close and cancel a spot grid bot order. Weight: 1."
      operationId: cancelSpotGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSpotGridRequest'
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/profit:
    post:
      tags: [Spot Grid]
      summary: Extract profit from spot grid
      description: "Extract accumulated grid profit from a running spot grid order. Weight: 1."
      operationId: profitSpotGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfitSpotGridRequest'
      responses:
        '200':
          description: Profit extracted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransferRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # Smart Copy
  # -------------------------------------------------------------------------

  /api/v1/bot/orders/smartCopy/order:
    get:
      tags: [Smart Copy]
      summary: Get smart copy order
      description: "Query a smart copy bot order by ID. Weight: 1."
      operationId: getSmartCopyOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: buOrderId
          in: query
          required: true
          description: Bot order ID (UUID, 36 chars)
          schema:
            type: string
        - name: lang
          in: query
          description: Language code (e.g. en, zh)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SmartCopyOrderDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/smartCopy/checkParams:
    post:
      tags: [Smart Copy]
      summary: Check smart copy parameters
      description: |
        Validate smart copy bot creation parameters and check the maximum investment limit. Weight: 1.

        **Requires `Bot reading` permission.**

        Returns the maximum allowed investment, maximum leverage, and notional/available limits for the given base/quote/signal combination.
      operationId: checkSmartCopyParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSmartCopyParamsRequest'
      responses:
        '200':
          description: Check result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CheckSmartCopyParamsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/smartCopy/create:
    post:
      tags: [Smart Copy]
      summary: Create smart copy order
      description: "Create a new smart copy bot order. Weight: 1."
      operationId: createSmartCopyOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSmartCopyOrderRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateSmartCopyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/smartCopy/cancel:
    post:
      tags: [Smart Copy]
      summary: Cancel smart copy order
      description: "Close and cancel a smart copy bot order. Weight: 1."
      operationId: cancelSmartCopyOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSmartCopyOrderRequest'
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CancelSmartCopyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # KOL
  # -------------------------------------------------------------------------

  /api/v1/bot/kol/selectCopyTradeList:
    get:
      tags: [KOL]
      summary: Get KOL curated copy-trade order list
      description: "Query a KOL's curated/pinned copy-trade order list by share code, with optional filters by symbol, trend, and leverage. Supports pagination and sorting. Weight: 1."
      operationId: getKolSelectCopyTradeList
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: shareCode
          in: query
          required: true
          description: KOL share code
          schema:
            type: string
        - name: buOrderType
          in: query
          required: true
          description: Bot order type filter
          schema:
            type: string
        - name: symbol
          in: query
          description: Trading symbol filter
          schema:
            type: string
        - name: trend
          in: query
          description: Grid trend filter (e.g. long, short, no_trend)
          schema:
            type: string
        - name: leverage
          in: query
          description: Leverage filter
          schema:
            type: integer
            format: int64
        - name: pageToken
          in: query
          description: Pagination token
          schema:
            type: string
        - name: sort
          in: query
          description: Sort field
          schema:
            type: string
        - name: direction
          in: query
          description: Sort direction (e.g. asc, desc)
          schema:
            type: string
        - name: limit
          in: query
          description: Page size
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/KolSelectCopyTradeListData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # Signal
  # -------------------------------------------------------------------------

  /api/v1/bot/signal/listener:
    post:
      tags: [Signal]
      summary: Push custom trading signal
      description: |
        Push a custom trading signal to drive smart copy orders. Weight: 1.

        **Requires `Enable reading` permission.** Signal sending must additionally be enabled for your account — contact [open@pionex.com](mailto:open@pionex.com) to request access.
      operationId: signalListener
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalListenerRequest'
      responses:
        '200':
          description: Signal received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # User-defined Signal Management
  # -------------------------------------------------------------------------

  /api/v1/bot/signal/userSignal:
    get:
      tags: [Signal]
      summary: List user custom signals
      description: |
        Return a paginated list of user-defined signals. Weight: 1.

        **Requires `Bot reading` permission.**
      operationId: listUserSignals
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: pageToken
          in: query
          required: false
          description: Pagination token returned by the previous response. Omit for the first page.
          schema:
            type: string
      responses:
        '200':
          description: Signal list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserSignalListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Signal]
      summary: Create user custom signal
      description: |
        Create a new user-defined signal. Each user can have at most 100 signals. Weight: 1.

        **Requires `Bot trading` permission.**
      operationId: createUserSignal
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserSignalRequest'
      responses:
        '200':
          description: Signal created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserSignalDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/signal/userSignal/detail:
    get:
      tags: [Signal]
      summary: Get user custom signal detail
      description: |
        Return detail of a specific user-defined signal including webhook URL and message template. Weight: 1.

        **Requires `Bot reading` permission.**
      operationId: getUserSignal
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: signalType
          in: query
          required: true
          description: Signal type identifier
          schema:
            type: string
      responses:
        '200':
          description: Signal detail retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserSignalDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/signal/userSignal/edit:
    post:
      tags: [Signal]
      summary: Edit user custom signal
      description: |
        Update the title and/or description of an existing user-defined signal. Weight: 1.

        **Requires `Bot trading` permission.**

        At least one of `title` or `description` must be provided.
      operationId: editUserSignal
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: signalType
          in: query
          required: true
          description: Signal type identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditUserSignalRequest'
      responses:
        '200':
          description: Signal updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/signal/userSignal/delete:
    delete:
      tags: [Signal]
      summary: Delete user custom signal
      description: |
        Delete a user-defined signal. Weight: 1.

        **Requires `Bot trading` permission.**

        Deletion is rejected if the signal has any non-cancelled orders. Error code `SIGNAL_HAS_UNCLOSED_ORDERS` is returned with the open order count in `data.cnt`.
      operationId: deleteUserSignal
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: signalType
          in: query
          required: true
          description: Signal type identifier
          schema:
            type: string
      responses:
        '200':
          description: Signal deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request or unclosed orders exist
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          cnt:
                            type: integer
                            description: Number of unclosed orders preventing deletion
                            example: 3
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: PIONEX-KEY
      description: |
        API Key authentication. Requires two headers:
        - `PIONEX-KEY`: Your API Key
        - `PIONEX-SIGNATURE`: HMAC SHA256 hex signature

        And a `timestamp` query parameter (milliseconds).

  parameters:
    Timestamp:
      name: timestamp
      in: query
      required: true
      description: Current timestamp in milliseconds (valid range +/- 20 seconds)
      schema:
        type: integer
        format: int64

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    BaseResponse:
      type: object
      properties:
        result:
          type: boolean
          description: Request success indicator
        timestamp:
          type: integer
          format: int64
          description: Response timestamp in milliseconds

    ErrorResponse:
      type: object
      properties:
        result:
          type: boolean
          example: false
        code:
          type: string
          description: |
            Error code. Common bot error codes:
            - `BOT_INVALID_ARGUMENT` — Business validation failure (e.g. invalid parameters, order state conflict, PnL check failure). The `message` field contains the specific reason.
            - `BOT_INTERNAL_ERROR` — System/RPC error (network timeout, downstream service unavailable). Retrying may help.
            - `PARAMETER_ERROR` — Request parameter format error.
        message:
          type: string
          description: Human-readable error message with specific reason
        data:
          description: Optional partial data returned with validation errors (e.g. min_investment, estimate data)
        timestamp:
          type: integer
          format: int64

    BotOrderListResponse:
      type: object
      description: Bot order list response with pagination
      properties:
        nextPageToken:
          type: string
          nullable: true
          description: Token to fetch the next page
        previousPageToken:
          type: string
          nullable: true
          description: Token to fetch the previous page
        results:
          type: array
          description: List of bot orders
          items:
            $ref: '#/components/schemas/BotOrder'

    BotOrder:
      type: object
      description: Bot order result
      properties:
        buOrderType:
          type: string
          description: |
            Bot order type. Supported values: `futures_grid`, `spot_grid`, `smart_copy`.
        buOrderId:
          type: string
          description: Bot order ID
        userId:
          type: string
          description: User ID
        keyId:
          type: string
          description: API Key ID
        exchange:
          type: string
          description: Exchange identifier
          example: pionex.v2
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        status:
          type: string
          description: Order status
        createTime:
          type: integer
          format: int64
          description: Creation timestamp in milliseconds
        closeTime:
          type: integer
          format: int64
          description: Close timestamp in milliseconds
        copyFrom:
          type: string
          description: Copy source order ID
        copyType:
          type: string
          description: Copy type
        strategyId:
          type: string
          description: Strategy ID
        canceling:
          type: integer
          format: int64
          description: Canceling flag
        note:
          type: string
          description: Order note
        closeNote:
          type: string
          description: Close note
        customizeName:
          type: string
          description: Custom name
        botName:
          type: string
          description: Bot name
        groupId:
          type: string
          description: Group ID
        copyBotOrderId:
          type: string
          description: Copy bot order ID
        buOrderData:
          type: object
          description: "Order detail data (dynamic structure depending on buOrderType)"

    FuturesGridOrder:
      type: object
      properties:
        keyId:
          type: string
          description: API Key ID
        userId:
          type: string
          description: User ID
        exchange:
          type: string
          description: Exchange identifier
          example: pionex.v2
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        status:
          type: string
          description: Order status
        createTime:
          type: number
          description: Creation timestamp in milliseconds
        copyFrom:
          type: string
          description: Copy source order ID
        copyType:
          type: string
          description: Copy type
        groupId:
          type: string
          description: Bound group ID
        copyBotOrderId:
          type: string
          description: Copy bot order ID
        note:
          type: string
          description: Note
        customizeName:
          type: string
          description: Custom name
        buOrderData:
          $ref: '#/components/schemas/FuturesGridOrderData'

    FuturesGridOrderData:
      type: object
      properties:
        status:
          type: string
          description: |
            Bot status:
            `prepare`, `lock_currency`, `condition_lock`, `open_position`, `init_grid`,
            `running`, `destroy_grid`, `close_position`, `unlock_currency`, `canceled`,
            `adjust_params`, `adjust_params_open_position`, `adjust_params_init_grid`,
            `pre_pause`, `pausing`, `paused`, `pre_resume`, `resuming`
          enum:
            - prepare
            - lock_currency
            - condition_lock
            - open_position
            - init_grid
            - running
            - destroy_grid
            - close_position
            - unlock_currency
            - canceled
            - adjust_params
            - adjust_params_open_position
            - adjust_params_init_grid
            - pre_pause
            - pausing
            - paused
            - pre_resume
            - resuming
        reasonBy:
          type: string
          description: |
            Close reason:
            `user_cancel` - User cancelled,
            `force_liquidation` - Liquidated,
            `loss_stop` - Stop loss triggered,
            `profit_stop` - Take profit triggered,
            `not_enough_balance` - Insufficient balance during running,
            `not_enough_balance_when_lock` - Lock funds failed after order,
            `create_failed` - Order creation failed
          enum:
            - user_cancel
            - force_liquidation
            - loss_stop
            - profit_stop
            - not_enough_balance
            - not_enough_balance_when_lock
            - create_failed
        top:
          type: string
          description: Grid upper price
        bottom:
          type: string
          description: Grid lower price
        row:
          type: number
          description: Number of grid levels
        gridType:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
        openPrice:
          type: string
          description: Current price at creation
        trend:
          type: string
          description: "Grid direction: `long`, `short`, or `no_trend` (neutral)"
          enum: [long, short, no_trend]
        type:
          type: string
          description: "Operation type (e.g. `invest_in` for adding investment)"
        leverage:
          type: number
          description: Leverage multiplier
        extraMargin:
          type: string
          description: Extra margin amount
        quoteInvestment:
          type: string
          description: Total investment amount
        perVolume:
          type: string
          description: Volume per grid level
        position:
          type: string
          description: Current position size
        positionOpenPrice:
          type: string
          description: Position open price
        marginBalance:
          type: string
          description: Margin balance (after leverage)
        extraBalance:
          type: string
          description: Extra balance
        liquidationTriggered:
          type: boolean
          description: Whether liquidation was triggered
        liquidationPrice:
          type: string
          description: Liquidation price
        liquidationFee:
          type: string
          description: Liquidation fee
        estimateLiquidationPriceUp:
          type: string
          description: Estimated liquidation price (upward)
        estimateLiquidationPriceDown:
          type: string
          description: Estimated liquidation price (downward)
        lossStopType:
          type: string
          description: |
            Stop loss type:
            `price` - By market price (default),
            `profit_amount` - By P&L amount,
            `profit_ratio` - By P&L ratio,
            `price_limit` - By limit price
          enum: [price, profit_amount, profit_ratio, price_limit]
        lossStop:
          type: string
          description: |
            Stop loss value. Interpretation depends on lossStopType:
            `price` -> stop loss price,
            `profit_amount` -> stop loss amount,
            `profit_ratio` -> stop loss ratio
        profitStopType:
          type: string
          description: |
            Take profit type:
            `price` - By price (default),
            `profit_amount` - By profit amount,
            `profit_ratio` - By profit ratio,
            `price_limit` - By limit price
          enum: [price, profit_amount, profit_ratio, price_limit]
        profitStop:
          type: string
          description: |
            Take profit value. Interpretation depends on profitStopType:
            `price` -> take profit price,
            `profit_amount` -> profit amount,
            `profit_ratio` -> profit ratio
        riskStatus:
          type: string
          description: "Risk status"
          enum: [TRADING, HOLDING, TAKEOVER, LIQUIDATION]
          default: TRADING
        lossStopHigh:
          type: string
          description: Upper stop loss price for neutral grid (above top)
        pausePrice:
          type: string
          description: Price when paused
        profitWithdrawn:
          type: string
          description: Total profit withdrawn
        openQuotePrice:
          type: string
          description: Average quote-to-USDT price for investment
        closeSellModel:
          type: string
          description: |
            Close sell mode:
            `TO_QUOTE` - Close position only,
            `TO_USDT` - Close position and sell quote to USDT
          enum: [TO_QUOTE, TO_USDT]
        quoteAmountBeforeSell:
          type: string
          description: Quote amount before closing
        quoteAmountSell:
          type: string
          description: Quote amount sold on close
        quoteSellPrice:
          type: string
          description: Quote sell price on close
        unlockUsdtAmount:
          type: string
          description: USDT returned to main account (only when TO_USDT)
        unlockQuoteAmount:
          type: string
          description: Quote returned to main account
        initQuotePrice:
          type: string
          description: Quote/USDT price at order creation
        closedQuotePrice:
          type: string
          description: Quote/USDT price at close
        shareRatio:
          type: string
          description: Profit sharing ratio
        sharedProfit:
          type: string
          description: Shared profit amount
        marginStatus:
          type: string
          description: "Margin status: `NORMAL` or `INSUFFICIENT`"
          enum: [NORMAL, INSUFFICIENT]
          default: NORMAL
        investCoin:
          type: string
          description: "Investment currency. `USDT` or quote currency (e.g. BTC)"
        investmentFrom:
          type: string
          description: |
            Funding source:
            `USER` - User main account,
            `LOCK_ACTIVITY` - Lock activity pool,
            `FUTURE_GRID_BONUS` - Bonus pool
          enum: [USER, LOCK_ACTIVITY, FUTURE_GRID_BONUS]
        lockEndTime:
          type: number
          description: Lock end time in milliseconds
        profitWithdrawnU:
          type: string
          description: Profit withdrawn (user portion)
        profitWithdrawnC:
          type: string
          description: Profit withdrawn (charity/bonus portion)
        profitWithdrawnP:
          type: string
          description: Profit withdrawn (Pionex/bonus fee portion)
        usdtInvestment:
          type: string
          description: USDT investment amount
        uiInvestCoin:
          type: string
          description: Frontend-recorded investment currency type
        uiExtraData:
          type: string
          description: Frontend extra data for coin-margined futures grid
        stopLossEnabled:
          type: boolean
          description: Stop loss enabled while paused
        stopProfitEnabled:
          type: boolean
          description: Take profit enabled while paused
        triggerPausePriceUp:
          type: string
          description: Price trigger for pause (upward)
        triggerPausePriceDown:
          type: string
          description: Price trigger for pause (downward)
        profitReduce:
          type: string
          description: Grid profit from position reduction (accumulated)
        closeOrderType:
          type: string
          description: |
            Close order type:
            `market` - Market price close,
            `limit` - Limit price close,
            `limit_high` - Neutral grid top limit close
          enum: [market, limit, limit_high]
        closedBaseAmount:
          type: string
          description: Closed position amount
        lossStopLimitPrice:
          type: string
          description: Limit stop loss price (when lossStopType=price_limit)
        lossStopLimitHighPrice:
          type: string
          description: Upper limit stop loss price for neutral grid (when lossStopType=price_limit)
        profitStopLimitPrice:
          type: string
          description: Limit take profit price (when profitStopType=price_limit)
        slippage:
          type: string
          description: "Open position slippage (e.g. \"0.01\" = 1%)"
        bonusId:
          type: string
          description: Bonus UUID (when investmentFrom=FUTURE_GRID_BONUS)
        bonusBackUsdt:
          type: string
          description: USDT recovered from bonus on close
        bonusBackQuote:
          type: string
          description: Quote recovered from bonus on close
        notionalStatus:
          type: string
          description: "Notional status: `NORMAL` or `NOTIONAL_LIMIT`"
          enum: [NORMAL, NOTIONAL_LIMIT]
          default: NORMAL
        closeSlippage:
          type: string
          description: "Close position slippage (e.g. \"0.01\" = 1%)"
        bonusFeeRatio:
          type: string
          description: "Bonus fee ratio (e.g. \"0.2\" = 20%)"
        bonusFee:
          type: string
          description: Bonus management fee recovered on close (in quote)
        disableChangeTp:
          type: boolean
          description: Whether modification of take profit is disabled
        disableInvestInTrigger:
          type: boolean
          description: Whether trigger investment is disabled
        investInTriggers:
          type: array
          description: Pending trigger investment list (max 1 item)
          items:
            $ref: '#/components/schemas/InvestInTrigger'
        investOutTriggers:
          type: array
          description: Pending trigger reduction list (max 1 item)
          items:
            $ref: '#/components/schemas/InvestOutTrigger'
        autoExpiredTime:
          type: number
          description: Auto-close timestamp in milliseconds (for bonus orders)
        movingIndicatorType:
          type: string
          description: "Moving indicator type (e.g. `sma`)"
        movingIndicatorInterval:
          type: string
          description: "Moving indicator interval (e.g. 1m, 15m, 30m, 1h, 4h, 12h)"
        movingIndicatorParam:
          type: string
          description: 'Moving indicator parameters JSON (e.g. {"length":720})'
        movingTrailingUpParam:
          type: string
          description: "SMA trailing up trigger ratio (e.g. 0.05)"
        cateType:
          type: string
          description: |
            Category type:
            `FUTURES_MOON` - Futures moon order,
            `FULLY_HEDGING` - Fully hedged order,
            `LOAN_GRID` - Loan grid,
            `LEVERAGE_GRID` - Leverage grid,
            `FUTURE_GRID_COIN_MARGINED` - Coin-margined futures grid
          enum:
            - FUTURES_MOON
            - FULLY_HEDGING
            - LOAN_GRID
            - LEVERAGE_GRID
            - FUTURE_GRID_COIN_MARGINED
        movingTop:
          type: string
          description: Moving grid upper limit
        movingBottom:
          type: string
          description: Moving grid lower limit
        profitExited:
          type: string
          description: Exited profit
        fundingFeePayment:
          type: string
          description: Total funding fee paid (negative value)
        enableFollowClosed:
          type: boolean
          description: Whether to follow close (requires original order to enable follow close)

    InvestInTrigger:
      type: object
      properties:
        condition:
          type: string
          description: Trigger investment price
        conditionDirection:
          type: string
          description: "Direction: \"1\" (above current price), \"-1\" (below current price)"
          enum: ["1", "-1"]
        quoteInvestment:
          type: string
          description: Trigger investment amount
        extraMarginAmount:
          type: string
          description: Trigger dynamic margin
        addTime:
          type: number
          description: Add time in milliseconds
        investCoin:
          type: string
          description: Investment currency (currently only supports quote)

    InvestOutTrigger:
      type: object
      properties:
        condition:
          type: string
          description: Trigger reduction price
        conditionDirection:
          type: string
          description: "Direction: \"1\" (above current price), \"-1\" (below current price)"
          enum: ["1", "-1"]
        reduceNum:
          type: number
          description: "Reduction amount: order precision * reduceNum"
        addTime:
          type: number
          description: Add time in milliseconds

    CreateFuturesGridRequest:
      type: object
      required: [base, quote, buOrderData]
      properties:
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        copyFrom:
          type: string
          description: Copy source order ID
        copyType:
          type: string
          description: Copy type
        copyBotOrderId:
          type: string
          description: >-
            Copy bot order ID. Set this to the `bu_order_id` of an existing copy
            trading pool's lead order to join that pool: the newly created
            futures grid order will be attached to the pool and copied by its
            followers. This is the only field that makes a new order join an
            existing copy trading pool, so it must be a valid lead order ID —
            an invalid or closed value will cause the request to fail.
        buOrderData:
          $ref: '#/components/schemas/CreateFuturesGridOrderData'

    CreateFuturesGridOrderData:
      type: object
      required: [top, bottom, row, grid_type, trend, leverage, quoteInvestment]
      properties:
        top:
          type: string
          description: Grid upper price
        bottom:
          type: string
          description: Grid lower price
        row:
          type: number
          description: Number of grid levels
        grid_type:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
        trend:
          type: string
          description: "Grid direction: `long`, `short`, or `no_trend` (neutral)"
          enum: [long, short, no_trend]
        leverage:
          type: number
          description: Leverage multiplier
        extraMargin:
          type: string
          description: Extra margin amount
        quoteInvestment:
          type: string
          description: Investment amount
        condition:
          type: string
          description: Trigger price (for conditional orders)
        conditionDirection:
          type: string
          description: "Trigger direction: \"-1\" (price drops to) or \"1\" (price rises to)"
          enum: ["-1", "1"]
        lossStopType:
          type: string
          description: "Stop loss type: `price` (default), `profit_amount`, `profit_ratio`, `price_limit`"
          enum: [price, profit_amount, profit_ratio, price_limit]
        lossStop:
          type: string
          description: Stop loss value (interpretation depends on lossStopType)
        lossStopDelay:
          type: number
          description: Stop loss delay in seconds
        profitStopType:
          type: string
          description: "Take profit type: `price` (default), `profit_amount`, `profit_ratio`, `price_limit`"
          enum: [price, profit_amount, profit_ratio, price_limit]
        profitStop:
          type: string
          description: Take profit value (interpretation depends on profitStopType)
        profitStopDelay:
          type: number
          description: Take profit delay in seconds
        lossStopHigh:
          type: string
          description: Upper stop loss price for neutral grid (above top)
        shareRatio:
          type: string
          description: Profit sharing ratio
        investCoin:
          type: string
          description: "Investment currency: `USDT` or quote currency (default)"
        investmentFrom:
          type: string
          description: "Funding source: `USER` (default), `FUTURE_GRID_BONUS`"
          enum: [USER, FUTURE_GRID_BONUS]
        uiInvestCoin:
          type: string
          description: Frontend-recorded investment currency type (stored only)
        lossStopLimitPrice:
          type: string
          description: Limit stop loss price (when lossStopType=price_limit)
        lossStopLimitHighPrice:
          type: string
          description: Upper limit stop loss price for neutral grid (when lossStopType=price_limit)
        profitStopLimitPrice:
          type: string
          description: Limit take profit price (when profitStopType=price_limit)
        slippage:
          type: string
          description: "Open position slippage (e.g. \"0.01\" = 1%)"
        bonusId:
          type: string
          description: Bonus UUID (when investmentFrom=FUTURE_GRID_BONUS)
        uiExtraData:
          type: string
          description: Frontend extra data for coin-margined futures grid
        movingIndicatorType:
          type: string
          description: "Moving indicator type (e.g. `sma`)"
        movingIndicatorInterval:
          type: string
          description: "Moving indicator interval (e.g. 1m, 15m, 30m, 1h, 4h, 12h)"
        movingIndicatorParam:
          type: string
          description: 'Moving indicator parameters JSON (e.g. {"length":720})'
        movingTrailingUpParam:
          type: string
          description: "SMA trailing up trigger ratio (e.g. 0.05)"
        cateType:
          type: string
          description: "Category type"
          enum: [FULLY_HEDGING, LOAN_GRID, LEVERAGE_GRID, FUTURE_GRID_COIN_MARGINED]
        movingTop:
          type: string
          description: Moving grid upper limit
        movingBottom:
          type: string
          description: Moving grid lower limit
        enableFollowClosed:
          type: boolean
          description: Whether to follow close

    CheckFuturesGridParamsRequest:
      type: object
      required: [base, quote, buOrderData]
      properties:
        base:
          type: string
          description: "Base currency, must end with `.PERP`"
          example: BTC.PERP
        quote:
          type: string
          description: Quote currency
          example: USDT
        buOrderData:
          $ref: '#/components/schemas/CheckFuturesGridParamsOrderData'

    CheckFuturesGridParamsOrderData:
      type: object
      required: [top, bottom, row, grid_type, trend, leverage, quote_investment]
      properties:
        top:
          type: string
          description: "Grid upper price. Must be greater than `bottom` and match the symbol's price precision."
        bottom:
          type: string
          description: "Grid lower price. Must be greater than 0 and match the symbol's price precision."
        row:
          type: integer
          description: Number of grid levels (2–500)
          minimum: 2
          maximum: 500
        grid_type:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
        trend:
          type: string
          description: "Grid direction: `long`, `short`, or `no_trend` (neutral)"
          enum: [long, short, no_trend]
        leverage:
          type: integer
          description: Leverage multiplier (1 to symbol's maximum leverage)
        extra_margin:
          type: boolean
          description: |
            Controls how the investment is split between trading capital and extra margin (a safety buffer against liquidation).

            - `false` (default) — **Manual mode**: `quote_investment` is used entirely as trading capital (position margin + order margin + fee). Extra margin must be specified separately via `extra_margin_amount`.
            - `true` — **Auto-split mode**: `quote_investment` represents the **total input**. The system automatically splits it into trading capital and extra margin reserve. A portion is allocated as extra margin to reduce liquidation risk.

            This flag also affects `min_investment` / `max_investment`:
            - `false`: the range covers trading capital only (excluding extra margin).
            - `true`: the range covers the total input (including the auto-calculated extra margin).
          default: false
        quote_investment:
          type: string
          description: |
            Investment amount in quote currency (must be > 0 and >= `min_investment`).

            - When `extra_margin=false`: this is the **trading capital** only (extra margin is provided separately via `extra_margin_amount`).
            - When `extra_margin=true`: this is the **total input** — the system will auto-split it into trading capital (`estimate_investment`) and extra margin (`estimate_extra_margin`).

            Passing `"0"` will return `result=false` with message `"less than min investment"` and partial data.
          example: "100"
        extra_margin_amount:
          type: string
          description: |
            Additional margin amount on top of `quote_investment`, used as a safety buffer against liquidation. Must be >= 0. Omit or pass empty string to use 0.

            - When `extra_margin=false`: this value is passed through as-is. It does **not** count toward `quote_investment` or the `min_investment`/`max_investment` range, but it improves the estimated liquidation price.
            - When `extra_margin=true`: typically not needed, as the system auto-calculates extra margin from `quote_investment`. If provided, it is added on top of the auto-calculated margin and also improves the estimated liquidation price.
        condition:
          type: string
          description: Trigger price. When set, the bot starts only after the price reaches this level.
        condition_direction:
          type: string
          description: "Trigger direction: `\"-1\"` price drops to trigger level, `\"1\"` price rises to trigger level"
          enum: ["-1", "1"]

    AdjustFuturesGridRequest:
      type: object
      required: [buOrderId, type, extraMargin, openPrice]
      description: |
        Adjust a futures grid order. The fields controlling how the investment amount is
        treated (`isReinvest`, `keepInvestment`, `quoteInvestment`, `adjustParamsSence`)
        overlap and interact — pick ONE intent from the table below and set exactly the
        listed fields. Do not mix intents.

        Investment-intent decision table (only relevant when `type=adjust_params`):

        | Intent                                             | Set these fields                                                        |
        |----------------------------------------------------|-------------------------------------------------------------------------|
        | Only change grid range/row, keep investment fixed  | `keepInvestment=true` (leave `isReinvest`/`quoteInvestment` unset)      |
        | Add funds to the order                             | `quoteInvestment=<amount>` (do NOT rely on `isReinvest`; see its note)  |
        | Reinvest current floating profit, add no new funds | `adjustParamsSence="reinvest"`, `isReinvest=true`, `quoteInvestment=0`  |

        Precedence & hidden rules (read before setting flags):
        - `keepInvestment=true` overrides `isReinvest` — when set, `isReinvest` is ignored.
        - Passing `quoteInvestment>0` is implicitly treated as reinvest, even if you send
          `isReinvest=false`. To keep the investment untouched, use `keepInvestment=true`,
          NOT `isReinvest=false`.
        - `isReinvest=false` (without `keepInvestment`) requires current floating PnL > 0;
          otherwise the request is rejected with reason `PROFIT_LESS_THAN_ZERO`.
        - Always call `adjustParamsCheck` first with the same body to preview the outcome
          and catch these constraints before executing.
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        type:
          type: string
          description: |
            Adjustment type:
            `invest_in` - Add investment,
            `adjust_params` - Modify grid range,
            `invest_in_trigger` - Trigger investment
          enum: [invest_in, adjust_params, invest_in_trigger]
        quoteInvestment:
          type: number
          description: |
            When type=invest_in: additional investment amount (must be > 0).
            When type=adjust_params: amount of new funds to add to the investment.
            NOTE: any value > 0 is implicitly treated as reinvest (forces isReinvest=true
            internally), so do not send quoteInvestment>0 together with keepInvestment=true.
            Leave 0/unset for the "keep investment" or "reinvest profit only" intents.
        extraMargin:
          type: boolean
          description: "true: reserve extra margin, false: no extra margin"
        openPrice:
          type: number
          description: Current price
        bottom:
          type: string
          description: New grid lower price (required when type=adjust_params)
        top:
          type: string
          description: New grid upper price (required when type=adjust_params)
        row:
          type: number
          description: New grid level count (required when type=adjust_params)
        extraMarginAmount:
          type: number
          description: Extra margin amount to add (when type=adjust_params)
        isRecommend:
          type: boolean
          description: Whether using recommended parameters (when type=adjust_params)
        isReinvest:
          type: boolean
          description: |
            When type=adjust_params: whether to fold current floating profit into the
            investment base (default false). Interacts with other fields — see the
            decision table and precedence rules on this schema before using:
            - Ignored when keepInvestment=true.
            - Implicitly forced true when quoteInvestment>0.
            - When left false without keepInvestment, requires current PnL > 0, else the
              request is rejected with `PROFIT_LESS_THAN_ZERO`.
            For the common "keep investment unchanged" intent, prefer keepInvestment=true
            over isReinvest=false.
        investCoin:
          type: string
          description: "Investment currency: `USDT` or quote currency (default)"
        investmentFrom:
          type: string
          description: "Funding source: `USER` (default) or `LOCK_ACTIVITY`"
          enum: [USER, LOCK_ACTIVITY]
        condition:
          type: string
          description: Trigger price (when type=invest_in_trigger)
        conditionDirection:
          type: string
          description: "Trigger direction: \"1\" (above current) or \"-1\" (below current)"
          enum: ["1", "-1"]
        slippage:
          type: string
          description: Slippage for add investment / modify range
        adjustParamsSence:
          type: string
          description: |
[...]
